@font-face {
    font-family: "Inter";
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/Inter/Inter-VariableFont.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

:root {
    --text-color: #121212;
    --background-color: #f6f6f6;
    --secondary-background-color: #ffffff;
    --secondary-color: #dddddd;
    --tertiary-color: #cbcbcb;
    --accent-color: #7700ff;
    --secondary-accent-color: #9e43ff;
}

html, body {
    min-height: 100%;
    margin: 0;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: Inter, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

.lucide * {
    vector-effect: non-scaling-stroke;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f6f6f6;
        --background-color: #191919;
        --secondary-background-color: #272727;
        --secondary-color: #343434;
        --tertiary-color: #4a4a4a;
        --accent-color: #9e43ff;
        --secondary-accent-color: #c586ff;
    }
}
